@model ArticleDetailViewModel
@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header -->
<header class="header header-mini">
    <div class="header-title">@Model.Title</div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Ana Sayfaya Git</a></li>
            @*<li class="breadcrumb-item active" aria-current="page">Components</li>*@
        </ol>
    </nav>
    <style>

        #corner 
        {
            border-radius: 25px;
            background: url(paper.gif);
            background-position: left top;
            background-repeat: repeat;
            padding: 20px;
            width: 200px;
            height: 150px;
        }

    </style>
</header>
<!-- End Of Page Header -->
<body>

    <div class="container">
        <h3 class="mt-5">@Model.Title</h3>
        <p class="blog-card-caption">
            <a href="javascript:;"><i class="fa fa-user-circle-o"></i> Yazar: Admin</a>
            <a href="javascript:;"><i class="fa fa-calendar-o"></i> Tarih: @Model.CreatedDate.ToString("dd.MM.yyyy")</a>
        </p>
        <img src="~/@Model.ImageUrl" style="width: 100%;" /><br><br>
        <p>
            @Model.Body
        </p>
        @foreach (var item in Model.Tags)
        {
            <div> <p id="corner">@item.Name</p></div>
        }
        <!-- testimonial section -->
        <section class="section" id="testmonial">
            <div class="container text-center">
                <h6 class="section-title mb-6">Yorumlar</h6>
                <!-- row -->
                <div class="row">
                    @foreach (var item in Model.Comments)
                    {
                        <div class="col-md-6">
                            <div class="testimonial-card">
                                <div class="testimonial-card-img-holder">
                                    <img src="~/uploads/DefaultCategory.png" class="testimonial-card-img" alt="@item.Name">
                                </div>
                                <div class="testimonial-card-body">
                                    <p class="testimonial-card-subtitle">@item.Body</p>
                                    <h6 class="testimonial-card-title">@item.Name - @item.Email</h6>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <!-- end of container -->
        </section>

        <!-- end of testimonial section -->
        <!-- contact section -->
        <section class="section" id="contact">
            <div class="container text-center">
                <p class="section-subtitle">Yazı hakkında yorum yazmak ister misin?</p>
                <h6 class="section-title mb-5">Yorumunu Yaz</h6>
                <!-- contact form -->
                <form action="" class="contact-form col-md-10 col-lg-8 m-auto">
                    <div class="form-row">
                        <div><input id="@Model.Id" name="@Model.Id" type="hidden"></div>
                        <div class="form-group col-sm-6">
                            <input type="text" size="50" class="form-control" name="Name" id="Name" placeholder="Ad Soyad" required>
                        </div>
                        <div class="form-group col-sm-6">
                            <input type="email" class="form-control" name="Email" id="Email" placeholder="E-posta" requried>
                        </div>
                        <div class="form-group col-sm-12">
                            <textarea name="Body" id="Body" rows="6" class="form-control" placeholder="Bir şeyler yaz"></textarea>
                        </div>
                        <div class="form-group col-sm-12 mt-3">
                            <button type="button" id="sendVal" class="btn btn-outline-primary rounded">Gönder</button>
                        </div>
                    </div>
                </form><!-- end of contact form -->
            </div><!-- end of container -->
        </section>
        <!-- end of contact section -->
    </div>
</body>

@section scripts{ 
    <script type="text/javascript">
        $('#contact #sendVal').on('click', function () {
        
         var ArticleId = "@Model.Id"; @*$("#@Model.Id").val()*@       
         var name = $("#Name").val();
         var email = $("#Email").val();
         var body = $("#Body").val();
            $.ajax({
                type: 'post',
                url: '@Url.Action("AddComment","Comment")',
                data: { ArticleId, name, email, body },
            success: function (result) {
                if (result.success)
                {
                    location.reload();
                }
                else
                {
                    alert('işlem gerçekleştirilemedi.');
                }
            }
        });
    });


    </script>
}



