<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Orhan Veli GÖĞEBAKAN">

    <title>@ViewData["Title"] - OVG Blog</title>

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap-toastr/toastr.css" rel="stylesheet" asp-append-version="true" />

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="~/meyawo/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/meyawo/css/meyawo.css">

    @RenderSection("styles", required: false)

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- Page Navbar -->
    <nav class="custom-navbar" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="logo" href="#">OVG Blog</a>
            <ul class="nav">
                <li class="item">
                    <a class="link" href="@Url.Action("Index", "Home")">Ana Sayfa</a>
                </li>
                <li class="item">
                    <a class="link" href="@Url.Action("Index", "Home")#about">Hakkımda</a>
                </li>
                <li class="item">
                    <a class="link" href="@Url.Action("Index", "Home")#service">Kategoriler</a>
                </li>
                <li class="item">
                    <a class="link" href="@Url.Action("Index", "Home")#contact">İletişim</a>
                </li>
            </ul>
            <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </a>
        </div>
    </nav>
    <!-- End of Page Navbar -->
    
    @RenderBody()
    
    <!-- footer -->
    <div class="container">
        <footer class="footer">
            <p class="mb-0">
                Copyright
                <script>document.write(new Date().getFullYear())</script> &copy; <a href="javascript:;">OVG Blog</a>
            </p>
            <div class="social-links text-right m-auto ml-sm-auto">
                <a href="https://www.linkedin.com/in/orhan-veli-göğebakan-51a176172/" target="_blank" class="link"><i class="ti-linkedin"></i></a>
                <a href="https://github.com/Orhan-Veli" target="_blank" class="link"><i class="ti-github"></i></a>
            </div>
        </footer>
    </div> 
    <!-- end of page footer -->

    <!-- core  -->
    <script src="~/meyawo/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="~/meyawo/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
    <script src="~/meyawo/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Meyawo js -->
    <script src="~/meyawo/js/meyawo.js"></script>

    <script src="~/lib/bootstrap-toastr/toastr.min.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>