@model List<ArticleListViewModel>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Article Table <span><a asp-action="AddArticle" class="PositionOfSign" type="button"> <img src="~/uploads/PlusIcon.png" width="20px" /></a></span> </h4>
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                        
                    <th>Title</th>
                    <th>SeoUrl</th>
                    <th>Image</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    </thead>
                    @{ 
                        int i = 1;
                        foreach (var item in Model) {
                            <tbody>

                                <tr id="row-@i">                            
                                    <td>@item.Title</td>
                                    <td>@item.SeoUrl</td>
                                    <td>@item.ImageUrl</td>
                                    <form method="post">
                                        <td><a class="button-container" asp-route-Id="@item.Id" asp-action="UpdateArticle" name="@item.Id" type="button"><img src="/uploads/Edit.png" width="20px"></a></td>
                                        <td><a href="javascript:;" onclick="DeleteArticle('@item.Id', @i)" class="button-container" type="button"><img src="/uploads/Delete.png" width="20"></a></td>
                                    </form>
                                </tr>
                            </tbody>
                            i++;
                        }
                    }
                </table>
            </div>

        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        function DeleteArticle(id, rowNumber) {
            $.ajax({
                url: '@Url.Action("DeleteArticle", "Admin")',
                method: 'DELETE',
                data: { id },
                success: function (result) {
                    if (result == null) {
                        toastr.error('İşlem gerçekleştirilirken hata oluştu.');
                    } else if (!result.success) {
                        toastr.error(result.message);
                    } else {
                        toastr.success(result.message);
                        $('#row-' + rowNumber).remove();
                    }
                },
                error: function (ex) {
                    toastr.error('İşlem gerçekleştirilirken hata oluştu.');
                }
            });
        }
    </script>
}

