@model List<CategoryListViewModel>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int i = 1;
}

@section styles {

}
<body>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Category Table</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>
                            Name
                        </th>
                        <th>
                            SeoUrl
                        </th>
                        <th>
                            ImageUrl
                        </th>
                        <th>
                            Proses
                        </th>                        
                        </thead>
                        <tbody>
                            @{                                
                                foreach (var item in Model)
                                {
                                    <tr id="row-@i">
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            @item.SeoUrl
                                        </td>
                                        <td>
                                            @item.ImageUrl
                                        </td>
                                        <td>
                                            <a href="javascript:;" onclick="UpdateCategory('@item.Id','@item.Name','@item.SeoUrl','@item.ImageUrl')" class="button-container" type="button"><img src="/uploads/Edit.png" width="20"></a>
                                            <a href="javascript:;" onclick="DeleteCategory('@item.Id', @i)" class="button-container" type="button"><img src="/uploads/Delete.png" width="20"></a>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="margin:10px; margin-right:110px">Category Add</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" id="id" name="id" />
                        <p>Category Name</p><input type="text" class="form-control" name="Name" id="Name" />
                        <p>Seo Url</p><input type="text" class="form-control" name="SeoUrl" id="SeoUrl" />
                        <p>Image Url</p><input type="text" class="form-control" name="ImageUrl" id="ImageUrl" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="close" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button type="button" id="saveval" class="btn btn-default" data-save="modal">Kaydet</button>
                </div>
            </div>
        </div>
    </div>


</body>
@section scripts {
    <script type="text/javascript">
        var counter = @i;
        function DeleteCategory(id, rowNumber) {
            $.ajax({
                url: '@Url.Action("DeleteCategory", "Admin")',
                method: 'DELETE',
                data: { id },
                success: function (result) {
                    if (result == null) {
                        toastr.error('İşlem gerçekleştirilirken hata oluştu.');
                    } else if (!result.success) {
                        toastr.error(result.message);
                    } else {
                        toastr.success(result.message);
                        $('#row-' + rowNumber).remove();
                        counter--;
                        if (counter < 0) {
                            counter = 0;
                        }
                    }
                },
                error: function (ex) {
                    toastr.error('İşlem gerçekleştirilirken hata oluştu.');
                }
            });
        }
        $("#myForm").on('click', function () {
            OpenModal();
    });
        function OpenModal() {
            $('#myModal #id').val("");
            $('#myModal #Name').val("");
            $('#myModal #SeoUrl').val("");
            $('#myModal #ImageUrl').val("");
            $('#myModal').modal('show');
        }
        $("#saveval").on('click', function () {
            var Id = $("#id").val();
            var Name = $("#Name").val();
            var SeoUrl = $("#SeoUrl").val();
            var ImageUrl = $("#ImageUrl").val();
            if (Id == "") {
                //Insert
                $.ajax({
                    type: 'post',
                    url: '@Url.Action("AddCategory","Admin")',
                    data: { Name, SeoUrl, ImageUrl },
                    success: function (result) {
                        if (result.success) {
                            $('#myModal').modal('hide');
                            counter++;
                            $('#myTable > tbody:last-child').append('<tr><td>' + result.data.name + '</td><td>' + result.data.seoUrl + '</td><td>' + result.data.imageUrl + '</td>'
                                + '<td> <a href="javascript:;" onclick="DeleteCategory(' + result.data.id + ',' + counter + ')" class="button-container" type="button"><img src="/uploads/Delete.png" width="20"></a></td></tr>');
                        }
                        else {
                            toastr.error(result.message ?? 'sistemsel hata oluştur');
                        }
                    }
                });
            }
            else
            {
                //Update
                $.ajax({
                    type: 'put',
                    url: '@Url.Action("UpdateCategory","Admin")',
                    data: {Id, Name, SeoUrl, ImageUrl },
                    success: function (result) {
                        if (result.success) {
                            location.reload();
                        }
                        else {
                            toastr.error(result.message ?? 'sistemsel hata oluştur');
                        }
                    }
                });
            }
        });
        function UpdateCategory(id, name, seoUrl, imageUrl) {
            OpenModal();
            $('#myModal #id').val(id);
            $('#myModal #Name').val(name);
            $('#myModal #SeoUrl').val(seoUrl);
            $('#myModal #ImageUrl').val(imageUrl);
        }
    </script>
}



